<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            Trang mặc định
        {% endblock %}
    </title>


    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
    />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
{% block header %}
    {% include 'layout/header.html' %}
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    {% include 'layout/footer.html' %}
{% endblock %}
</body>
</html>
